# .coveragerc to control coverage.py
[run]
branch = True

source =
    ./

omit =
    # omit anything in a .local directory anywhere
    # */.local/*
    # omit everything in /usr
    /docs/*
    # omit this single file
    # /usr/lib/python3/dist-packages/attr/converters.py

